<mat-card *ngIf="(person$|async) as person">
  <mat-card-header>
    <h2>{{person.name}}</h2>
  </mat-card-header>
  <mat-card-content>
    <mat-action-list>
      <button (click)="select('mass')" color="accent" color mat-list-item> mass: {{person.mass || 'unknow'}} </button>
      <button (click)="select('height')" color="accent" mat-list-item> height: {{person.height || 'unknow'}} </button>
    </mat-action-list>
  </mat-card-content>
</mat-card>

