<!-- TODO: move to separate components-->
<!-- TODO: add error handling-->
<mat-grid-list cols="3">
  <mat-grid-tile *ngIf="displayCategoryCards$ | async">
    <mat-card *ngIf="(numberOfPeople$ | async) as numberOfPeople;else loading">
      <mat-card-header>
        Play using ship People (in base {{numberOfPeople}})
      </mat-card-header>
      <mat-card-actions>
        <button (click)="selectComparePeople()" [disabled]="numberOfPeople<2"
                color="primary"
                mat-button>Pick person
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="displayCategoryCards$ | async">
    <mat-card *ngIf="(numberOfShip$ | async) as numberOfShip;else loading">
      <mat-card-header>
        Play using ship card (in base {{numberOfShip}})
      </mat-card-header>
      <mat-card-actions>
        <button [disabled]="numberOfShip<2" color="primary" mat-button>Pick ship</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile *ngIf="displayPersonalCards$ | async">
    <app-people-user-card></app-people-user-card>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="displayPersonalCards$ | async">
    <app-people-oponent-card></app-people-oponent-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-game-result></app-game-result>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
