<mat-card *ngIf="(person$|async) as person">
  <mat-card-header>
    <h2>{{person.name}}</h2>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item> mass: {{hideIfNecesary(person.mass)}}</mat-list-item>
      <mat-list-item> height: {{hideIfNecesary(person.height)}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

