<mat-card>
  <mat-card-header>
    <h2>Store</h2>
  </mat-card-header>
  <mat-card-subtitle *ngIf="gameResult$ | async as gameResult">
    <h3> {{gameResult.player}} - {{gameResult.opponent}}  </h3>
  </mat-card-subtitle>
</mat-card>
